/* Tailwind directives must be first */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom global styles */
body {
  color: #213547;
  background-color: #ffffff;

  /* Edge-to-edge safe area handling for phones */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

a:hover {
  color: #747bff;
}

button {
  background-color: #f9f9f9;
}
